---
http_interactions:
- request:
    method: get
    uri: https://test-api.service.hmrc.gov.uk/individuals/details/addresses?fromDate=2019-04-02&matchId=0f44104e-7985-41f5-9660-ad9d02cffdb6&toDate=2019-04-28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 58f7c026b99895d007e577dbcd481713
      Correlationid:
      - e0b36e90-952e-0139-d8c0-1e00e23ae066
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{
        "_links": {
          "self": {
            "href": "/individuals/details/addresses/?matchId=57072660-1df9-4aeb-b4ea-cd2d7f96e430"
          }}, "residences": []}'
  recorded_at: Wed, 12 May 2021 09:03:44 GMT
recorded_with: VCR 6.0.0
