---
http_interactions:
- request:
    method: get
    uri: https://test-api.service.hmrc.gov.uk/individuals/benefits-and-credits/child-tax-credit?fromDate=2019-04-02&matchId=198247ac-7325-4233-ae65-9bd548658310&toDate=2019-04-28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 6f9d12d8c28da016ad6d26296c900087
      Correlationid:
      - ef5aa3a0-93c0-0139-d7af-1e00e23ae066
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"/individuals/benefits-and-credits/child-tax-credits?matchId=198247ac-7325-4233-ae65-9bd548658310&fromDate=2019-04-02&toDate=2019-04-28"}},"applications":[]}'
  recorded_at: Mon, 10 May 2021 13:24:14 GMT
recorded_with: VCR 6.0.0
