---
http_interactions:
- request:
    method: post
    uri: https://test-api.service.hmrc.gov.uk/individuals/matching
    body:
      encoding: UTF-8
      string: '{"firstName":"Nell","lastName":"Walker","nino":"ZL262438D","dateOfBirth":"1960-09-20"}'
    headers:
      Content-Type:
      - application/json
      Correlationid:
      - b77609d0-8a2a-0139-cebe-1e00e23ae066
      Authorization:
      - Bearer 1988460f19b2c092844931b288a31ca7
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="HMRC API Platform"
    body:
      encoding: UTF-8
      string: '{"code": "INVALID_CREDENTIALS", "message": "Invalid Authentication
        information provided"}'
  recorded_at: Wed, 28 Apr 2021 08:36:14 GMT
recorded_with: VCR 6.0.0
