---
http_interactions:
- request:
    method: get
    uri: https://test-api.service.hmrc.gov.uk/individuals/income/sa/self-employments?fromTaxYear=2019-20&matchId=b5a6e337-87c3-44ac-820d-22d8abc6a1f9&toTaxYear=2020-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 94f19ed3aea3443e04849a847d9dde34
      Correlationid:
      - fd4b3ec0-9166-0139-d469-1e00e23ae066
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"/individuals/income/sa/self-employments?matchId=b5a6e337-87c3-44ac-820d-22d8abc6a1f9&fromTaxYear=2019-20&toTaxYear=2020-21"}},"selfAssessment":{"taxReturns":[]}}'
  recorded_at: Fri, 07 May 2021 13:35:20 GMT
recorded_with: VCR 6.0.0
