---
http_interactions:
- request:
    method: get
    uri: https://test-api.service.hmrc.gov.uk/individuals/income/paye?fromDate=2019-04-02&matchId=e5a25de7-9d26-4300-9986-6ea600d400e5&toDate=2019-04-28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 8ca019f0c4024233e746f92562d73a52
      Correlationid:
      - 4a189b00-8be1-0139-cf88-1e00e23ae066
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"/individuals/income/paye?matchId=e5a25de7-9d26-4300-9986-6ea600d400e5&fromDate=2019-04-02&toDate=2019-04-28"}},"paye":{"income":[]}}'
  recorded_at: Fri, 30 Apr 2021 12:55:40 GMT
recorded_with: VCR 6.0.0
