---
http_interactions:
- request:
    method: get
    uri: https://test-api.service.hmrc.gov.uk/individuals/income/sa/interests-and-dividends?fromTaxYear=2018-19&matchId=b5a6e337-87c3-44ac-820d-22d8abc6a1f9&toTaxYear=2019-20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 94f19ed3aea3443e04849a847d9dde34
      Correlationid:
      - b9c15020-9149-0139-d3ac-1e00e23ae066
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"/individuals/income/sa/interests-and-dividends?matchId=b5a6e337-87c3-44ac-820d-22d8abc6a1f9&fromTaxYear=2018-19&toTaxYear=2019-20"}},"selfAssessment":{"taxReturns":[{"taxYear":"2018-19","interestsAndDividends":[{"ukInterestsIncome":0.92,"foreignDividendsIncome":4.93,"ukDividendsIncome":1.91}]}]}}'
  recorded_at: Fri, 07 May 2021 10:05:51 GMT
recorded_with: VCR 6.0.0
