---
http_interactions:
- request:
    method: get
    uri: https://test-api.service.hmrc.gov.uk/individuals/income/sa/summary?fromTaxYear=2019-20&matchId=b1a3ded8-50de-43b3-aa94-8c111e4df569&toTaxYear=2020-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 70a458197e0bff117c04cf6ee43ec3de
      Correlationid:
      - 963e61b0-9081-0139-25d6-1e00e23ae066
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"/individuals/income/sa/summary?matchId=b1a3ded8-50de-43b3-aa94-8c111e4df569&fromTaxYear=2019-20&toTaxYear=2020-21"}},"selfAssessment":{"taxReturns":[]}}'
  recorded_at: Thu, 06 May 2021 10:13:12 GMT
recorded_with: VCR 6.0.0
