---
http_interactions:
- request:
    method: get
    uri: https://test-api.service.hmrc.gov.uk/individuals/income/sa/foreign?fromTaxYear=2019-20&matchId=ad4a751f-356e-4867-9eef-df722d17fca2&toTaxYear=2020-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 8c656cbd605d4887c375eedffc5529b4
      Correlationid:
      - 0cf415b0-916a-0139-d594-1e00e23ae066
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"/individuals/income/sa/foreign?matchId=ad4a751f-356e-4867-9eef-df722d17fca2&fromTaxYear=2019-20&toTaxYear=2020-21"}},"selfAssessment":{"taxReturns":[]}}'
  recorded_at: Fri, 07 May 2021 13:57:14 GMT
recorded_with: VCR 6.0.0
