---
http_interactions:
- request:
    method: get
    uri: https://test-api.service.hmrc.gov.uk/individuals/employments/paye?fromDate=2019-01-01&matchId=e5a25de7-9d26-4300-9986-6ea600d400e5&toDate=2019-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 8ca019f0c4024233e746f92562d73a52
      Correlationid:
      - 1ba2b300-8bca-0139-cf55-1e00e23ae066
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"/individuals/employments/paye?matchId=e5a25de7-9d26-4300-9986-6ea600d400e5&fromDate=2019-01-01&toDate=2019-01-01"}},"employments":[]}'
  recorded_at: Fri, 30 Apr 2021 10:09:43 GMT
recorded_with: VCR 6.0.0
