---
http_interactions:
- request:
    method: post
    uri: https://test-api.service.hmrc.gov.uk/individuals/matching
    body:
      encoding: UTF-8
      string: '{"firstName":"Nell","lastName":"Walker","nino":"ZL262438D","dateOfBirth":"1960-09-20"}'
    headers:
      Content-Type:
      - application/json
      Correlationid:
      - 1fe59ac0-88c0-0139-a120-1e00e23ae066
      Authorization:
      - Bearer 1988460f19b2c092844931b288a31ca7
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"MATCHING_FAILED","message":"There is no match for the information
        provided"}'
  recorded_at: Mon, 26 Apr 2021 13:20:42 GMT
recorded_with: VCR 6.0.0
