---
http_interactions:
- request:
    method: post
    uri: https://test-api.service.hmrc.gov.uk/individuals/matching
    body:
      encoding: UTF-8
      string: '{"firstName":"Nell","lastName":"Walker","nino":"ZL262438D","dateOfBirth":"1964-09-20"}'
    headers:
      Content-Type:
      - application/json
      Correlationid:
      - be7e8ba0-88bf-0139-a11e-1e00e23ae066
      Authorization:
      - Bearer 1988460f19b2c092844931b288a31ca7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"individual":{"name":"GET","href":"/individuals/matching/d7899dfd-99c1-44f4-b3c3-c7631d206245","title":"Get
        a matched individual’s information"},"self":{"href":"/individuals/matching/"}}}'
  recorded_at: Mon, 26 Apr 2021 13:17:59 GMT
recorded_with: VCR 6.0.0
