---
http_interactions:
- request:
    method: get
    uri: https://test-api.service.hmrc.gov.uk/individuals/benefits-and-credits/working-tax-credit?fromDate=2019-02-02&matchId=198247ac-7325-4233-ae65-9bd548658310&toDate=2019-04-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 6f9d12d8c28da016ad6d26296c900087
      Correlationid:
      - 32560ec0-93c4-0139-d7f1-1e00e23ae066
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"/individuals/benefits-and-credits/working-tax-credits?matchId=198247ac-7325-4233-ae65-9bd548658310&fromDate=2019-02-02&toDate=2019-04-01"}},"applications":[{"id":7210565654,"awards":[{"payProfCalcDate":"2020-11-18","totalEntitlement":18765.23,"workingTaxCredit":{"amount":930.98,"paidYTD":8976.34},"childTaxCredit":{"childCareAmount":930.98},"payments":[]}]}]}'
  recorded_at: Mon, 10 May 2021 13:47:34 GMT
recorded_with: VCR 6.0.0
